In [1]:
#Firstly we should to import the numpy and pandas libraries.....
import numpy as np
import pandas as pd

In [2]:
#Import the data from this file
data = pd.read_csv(r'C:\Users\shiva\Downloads\correct_twitter_201904.tsv',sep='\t')

In [4]:
data.head(5)

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#create dataframe...
tweets_df = pd.DataFrame(data)
tweets_df

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88032,1122977274352082944,britney_201904,2022-02-28 09:47:43.066500-05:00,2022-02-28 09:47:43.066500-05:00,True,True,False,False,False,False,...,1.122976e+18,2.934939e+09,STORMISKELLYBAG,13773.0,NaN,NaN,NaN,NaN,NaN,NaN
88033,1122977257969127429,britney_201904,2022-02-28 09:47:43.066605-05:00,2022-02-28 09:47:43.066605-05:00,True,True,False,False,False,False,...,1.118943e+18,6.137028e+08,keanuorange,1422.0,NaN,NaN,NaN,NaN,NaN,NaN
88034,1122977009347518466,britney_201904,2022-02-28 09:47:43.066708-05:00,2022-02-28 09:47:43.066708-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,1.122898e+18,8.468642e+17,TheBlastNews,11533.0,NaN,NaN,NaN,NaN,NaN,NaN
88036,1122976855647240203,britney_201904,2022-02-28 09:47:43.066921-05:00,2022-02-28 09:47:43.066921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...",NaN,NaN

In [6]:
#According to question i take music term....
term = "music"

In [7]:
#I create the variable "filtered_tweets" and This method is applied to the text column and checks each tweet's content to see if it contains the substring defined in term.
filtered_tweets = tweets_df[tweets_df['text'].str.contains(term, case=False)]
filtered_tweets

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
89,1131558142569959424,britney_201904,2022-02-28 09:34:49.489632-05:00,2022-02-28 09:34:49.489632-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,1134153062384357378,britney_201904,2022-01-04 15:45:46.545877-05:00,2022-02-28 09:32:01.642704-05:00,True,True,False,False,False,False,...,1.134150e+18,4.872315e+09,Bryan_KnowsBest,308.0,NaN,NaN,NaN,NaN,NaN,NaN
275,1130933441191710720,britney_201904,2022-01-04 15:46:39.404655-05:00,2022-02-28 09:35:43.998377-05:00,True,True,False,False,False,False,...,1.130654e+18,1.633978e+07,musicdotjunkee,32389.0,NaN,NaN,['FreeBritney'],NaN,NaN,NaN
339,1129818710095613952,britney_201904,2022-01-04 15:47:01.723682-05:00,2022-02-28 09:37:33.446307-05:00,True,True,False,False,False,False,...,1.128705e+18,1.030185e+18,EatPrayBritney,9329.0,NaN,NaN,NaN,NaN,NaN,NaN
341,1128705303862808577,britney_201904,2022-01-04 15:47:01.748329-05:00,2022-02-28 09:40:48.913892-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,['FREEBRITNEY'],NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87942,1122966243596820481,britney_201904,2022-02-28 09:47:43.076588-05:00,2022-02-28 09:47:43.076588-05:00,True,True,False,False,False,False,...,1.122898e+18,8.468642e+17,TheBlastNews,11533.0,NaN,NaN,NaN,NaN,NaN,NaN
87950,1122964762617352193,britney_201904,2022-02-28 09:47:43.077468-05:00,2022-02-28 09:47:43.077468-05:00,True,True,False,False,False,False,...,1.122898e+18,8.468642e+17,TheBlastNews,11533.0,NaN,NaN,NaN,NaN,NaN,NaN
87975,1122956541760503809,britney_201904,2022-02-28 09:47:43.083885-05:00,2022-02-28 09:47:43.083885-05:00,True,True,False,False,False,False,...,1.122898e+18,8.468642e+17,TheBlastNews,11533.0,NaN,NaN,NaN,NaN,NaN,NaN
88020,1122955608356007936,britney_201904,2022-02-28 09:47:43.096550-05:00,2022-02-28 09:47:43.096550-05:00,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,1.122898e+18,8.468642e+17,TheBlastNews,11533.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
tweets_per_day = filtered_tweets['created_at']

In [9]:
type(tweets_per_day)

pandas.core.series.Series

In [10]:
#Question 1) How many tweets were posted containing the term on each day?
pd.to_datetime(tweets_per_day).dt.date.value_counts().sort_index()

created_at
2019-03-12      3
2019-04-06      1
2019-04-14      1
2019-04-16      1
2019-04-21      1
2019-04-24      1
2019-04-26      2
2019-04-27      2
2019-04-28     32
2019-04-29    163
2019-04-30     93
2019-05-01     71
2019-05-02     68
2019-05-03    110
2019-05-04     69
2019-05-05     70
2019-05-06     62
2019-05-07     71
2019-05-08     58
2019-05-09    172
2019-05-10    201
2019-05-11     86
2019-05-12     61
2019-05-13     53
2019-05-14     68
2019-05-15    103
2019-05-16     96
2019-05-17    159
2019-05-18     53
2019-05-19     41
2019-05-20     86
2019-05-21    102
2019-05-22     95
2019-05-23     57
2019-05-24     49
2019-05-25    120
2019-05-26     94
2019-05-27     71
2019-05-28    149
2019-05-29    133
2019-05-30     73
Name: count, dtype: int64

In [11]:
 # Question 2) How many unique users posted a tweet containing the term?
 unique_users = filtered_tweets['author_handle'].nunique()
 unique_users

2109

In [12]:
#Question 3) How many likes did tweets containing the term get, on average?
average_likes = filtered_tweets['like_count'].mean()
average_likes

np.float64(161.40853048983672)

In [13]:
#Question 4) Where (in terms of place IDs) did the tweets come from?
place_ids = filtered_tweets['place_id'].unique()
place_ids

array([nan, '53504716d445dcad', 'ab2f2fac83aa388d', '0113afc024d5e0bc',
       '300bcc6e23a88361', '8e9665cec9370f0f', 'd56c5babcffde8ef',
       '01153d1b33e1641b', '09f6a7707f18e0b1', '714789cf3b7a50d0',
       '01fbe706f872cb32', '1a7a70d4a28e96a1', 'f97108ab3c4a42ed',
       'ac88a4f17a51c7fc', '5de8cffc145c486b', '3f7a925ec706ea48',
       '001aff55522d96c9', '4c8e28554110ebcf', '5c62ffb0f0f3479d',
       '3b77caf94bfc81fe', 'ecbe2aea853af44e', 'de599025180e2ee7',
       '00b673715a35dfa7', '43d2418301bf1a49', '07e9c7d1954fff64',
       '0570f015c264cbd9', '0149775319466b18', '91890dbb74364d63',
       '01ddb0100b1efd97', 'b49b3053b5c25bf5', '7cb7440bcf83d464',
       '151b9e91272233d1', '9d63050d3d33d32f', '140800566259f12f',
       '743df94d8dcb69a6', '8bc4eeacf63235f9', '8943f93b51e3f357',
       '2bc7c264a080898b', '814cfc71b843ff40', '2b8922cbe7f16337',
       '7de31e05e99a00f8'], dtype=object)

In [14]:
#Question 5) What times of day were the tweets posted at? 
times_of_day = filtered_tweets['created_at']
pd.to_datetime(times_of_day).dt.time.value_counts()

created_at
01:00:00    6
13:40:00    5
15:20:00    5
04:00:00    4
08:00:00    3
           ..
11:21:28    1
11:17:36    1
11:16:45    1
11:12:01    1
17:32:06    1
Name: count, Length: 2915, dtype: int64

In [15]:
# Question 6) Which user posted the most tweets containing the term?
author_most_tweets = filtered_tweets['author_handle'].value_counts().idxmax()
print(author_most_tweets)

freqnetwork